<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<title>주절..&#127866; 주절...&#128172;</title>
</head>
<body>
<div class="container" th:align="center">
	<h3>다같이 주절주절...<span style="background:none;">&#128491;</span></h3>
	<h5><font class="bg bg-dark text-white" th:text="|${session['member'].name}(${session.member.MemberId})|"></font>님 환영합니다</h5>
</div>
<!-- navibar -->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">주절주절</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
        <a class="nav-link" th:href="@{/getBoardList}">자유게시판</a>
        <a class="nav-link" th:href="@{/getBoardMyList}">마이페이지</a>
        <!-- 
        <th:block th:if="${member.role=='ADMIN'}">
	        <a class="nav-link" th:href="@{/getMemberList}">관리자페이지</a>
        </th:block> 
         -->
      </div>
    </div>
  </div>
</nav> <!-- navibar -->

<div class="container mt-4 ml-auto mr-auto">
	<form action="login" method="get">
	<div class="row mt-3 justify-content-center">
		<div class="col-auto me-1">
			<select class="form-select" name="searchType" id="searchType">
				<option value="" disabled>검색</option>
				<option value="type" th:selected="${st} == 'type'">주종</option>	
				<option value="score" th:selected="${st} == 'title'">만족도</option>	
				<option value="comment" th:selected="${st} == 'comment'">글내용</option>	
			</select>		
		</div>
		<div class="col-3 me-1">
			<input class="form-control me-2" name="searchWord" type="text" />		
		</div>
		<div class="col-5 bm-10">
			<input type="reset" class="btn btn-outline-warning me-2" value="초기화" />&nbsp;&nbsp;
			<input type="submit" class="btn btn-outline-success me-2" value="Search" />&nbsp;&nbsp;
			<a th:href="insertBoard" class="btn btn-success">글등록</a>
		</div>
	</div>
		<table class="table">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">글번호</th>
		      <th scope="col">주종</th>
		      <th scope="col">상품명</th>
		      <th scope="col">성별</th>
		      <th scope="col">연령대</th>
		      <th scope="col">만족도</th>
		      <th scope="col">한줄평가</th>
		      <th scope="col">조회수</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="board, state : ${pagedResult.getContent()}">
		      <td th:text="${board.seq}"></td>
		      <td th:text="${board.type}"></td>
		      <th><a th:href="@{/getBoard(seq=${board.seq})}" th:text="${board.name}"></a></th>
		      
		      <td>
		      <span th:if="${board.member.gender == 'FEMALE'}" style="background:none;font-size:1em">&#128103;</span>
		      <span th:if="${board.member.gender != 'FEMALE'}" style="background:none;font-size:1em">&#128102;</span>
		      </td>
		      <td th:text="${board.member.age}"></td>
		      <td>
		      	<th:block th:if="${board.score ge 4}">
			      	<span style="background:none;font-size:1em">&#128150;<span>
		      	</th:block>
		      		<span th:text="${board.score}"></span>
		      </td>
		      	<td th:text="${board.comment}"></td>
		      	<td>
		      	<th:block th:if="${board.cnt ge 30}">
			      	<span style="background:none;font-size:1em">&#128293;</span>
		      	</th:block>
		      		<span th:text="${board.cnt}"></span>
		      </td>
		    </tr>
		  </tbody>
		</table>
	</form>
</div>

		<div class="row align-items-start mt-3">

		    	    
			<ul class="col-9 btn-sm pagination justify-content-center">	
				<th:block th:if="${sp != 1 }">
					<li class="page-item"><a th:href="@{/getBoardList(curPage=0, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}" class="page-link"><i class="fas fa-fast-backward"></i></a></li>
					<li class="page-item"><a th:href="@{/getBoardList(curPage=${sp-ps}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}" class="page-link"><i class="fas fa-backward"></i></a></li>				
				</th:block>
				
 				<th:block th:each="page : ${#numbers.sequence(pagingInfo.getStartPage(), pagingInfo.getEndPage())}">
					<li class="page-item" th:classappend="${(page-1)==pagingInfo.getCurPage() ? 'active' : ''}"><a class="page-link" th:href="@{/getBoardList(curPage=${page-1}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}" th:text="${page}" ></a></li>
				</th:block>	
				
				<th:block th:if="${ ep lt tp }">
					<li class="page-item"><a th:href="@{/getBoardList(curPage=${ep}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}" class="page-link"><i class="fas fa-forward"></i></a></li>				
					<li class="page-item"><a th:href="@{/getBoardList(curPage=${tp-1}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}" class="page-link"><i class="fas fa-fast-forward"></i></a></li>				
				</th:block>	
			</ul> <!-- pagination -->
			
			<div class="col-auto me-1">
				<div class="input-group mb-3">
					<span class="input-group-text"><i class="fas fa-list"></i></span>
					<select class="col-auto form-select" id="rowPerPage" name="rowPerPage">
 						<th:block th:each="num : ${#numbers.sequence(10, 50, 10)}">
				    		<option th:value="${num}" th:text="${num}" th:attr="selected=${rp==num ? 'true' : 'false'}"></option>										   					
				    	</th:block>											
					</select>
				</div>
			</div> <!-- rowSizePerPage -->  
			 	
		</div> <!-- 페이징 -->
				
	</div> <!-- main  -->
					
	<script>
		$(function() {
			
			// 목록 갯수 변경
			$('#rowPerPage').change(function(e) {
				$('#curPage').val(0);
				$('#rowSizePerPage').val($(this).val());
				$('#boardForm').submit();
			});	//#rowPerPage
			
			// 초기화 버튼 클릭
			$('#btnReset').click(function() {
				$('#curPage').val(0);
				$('#boardForm').find("select[name='searchType'] option:eq(0)").attr("selected", "selected");
				$('#boardForm').find("input[name='searchWord']").val("");
				$('#boardForm').submit();
			}); // #id_btn_reset.click			
		})
	</script>
	
<!-- member.id를 반복문안에서만 접근가능 나중에 확인해 볼 것 -->	
	<script th:inline="javascript">
	/*<![CDATA[*/
		function deleteCheck() {
			if(confirm("삭제을 하겠습니까?")) {
				alert([[${cp}]]);				
			} else {
				return false;
			}
		}
	/*]]>*/
	</script>		
				
</body>
</html>		