<!DOCTYPE html>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@500&family=Noto+Serif+KR&display=swap');
.f {
	font-family: 'Noto Serif KR', serif;
}
</style>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">   
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<title class="f">&#127866;&#128172;&#127866;&#128172;</title>
</head>
<body class="f">
	<div class="container" align="center">
		<form action="insertMember" method="post" >
		<div style="margin-top:90px;" vertical-align="middle">
		
		<div class="wrapper" text-align="center" style="padding-top:50px;width:600px; height:550px; border:solid 3px; border-radius:10%;">
           <div style="height:90px;">
           <h1>함께하시주</h1>
           </div>
           
           <div>
    <div class="col-md-8 mb-2">
      <input placeholder="ID" type="text" style="font-size:1.3em; width:240px;height:30px;border: none; border-bottom: solid 3px black;" name="memberId" value="" required>
    </div>
    <div class="col-md-8 mb-2">
      
      <input placeholder="Password" type="password" style="font-size:1.3em; width:240px;height:30px;border: none; border-bottom: solid 3px black;"name="password" value="" required>
    </div>
    <div class="col-md-8 mb-2">
      <input placeholder="Name" type="text" style="font-size:1.3em; width:240px;height:30px;border: none; border-bottom: solid 3px black;" name="name" value="" required>
    </div>
      
    <div class="col-md-12 mb-2" >
         <select name="gender" style="font-size:1.3em; width:240px;height:30px;border: none; border-bottom: solid 3px black;">
      <option th:text="Gender" disabled selected></option>
      <option th:value="FEMALE">FEMALE</option>
      <option th:value="MALE">MALE</option>
      </select>
      </div>
 <!--
      
     <div class="col-md-12 mb-2" >
      <label for="validationDefault03">성별</label>
      <input type="radio" style="width:20px;height:40px;"name="gender" value="FEMALE"><small>FEMALE</small>
      <input type="radio" style="width:20px;height:40px;"name="gender" value="MALE"><small>MALE</small>
    </div>
  <div class="form-row">
    <div class="col-md-12 mb-5">
     
      <input type="radio" style="width:20px;height:30px;"name="age" value="20대"><small>20대</small>
      <input type="radio" style="width:20px;height:30px;"name="age" value="30대"><small>30대</small>
      <input type="radio" style="width:20px;height:30px;"name="age" value="40대"><small>40대</small>
      <input type="radio" style="width:20px;height:30px;"name="age" value="50대"><small>50대</small>
      <input type="radio" style="width:20px;height:30px;"name="age" value="기타"><small>기타</small>
    </div>  
    -->
    <div class="col-md-12 mb-5">
      <select name="age" style="font-size:1.28em; width:240px;height:30px;border: none; border-bottom: solid 3px black;">
      <option name="age" th:text="Age" disabled selected></option>
      <option name="age" th:value="20대">20대</option>
      <option name="age" th:value="30대">30대</option>
      <option name="age" th:value="40대">40대</option>
      <option name="age" th:value="50대">50대</option>
      <option name="age" th:value="기타">기타</option>
      </select>
     <!--  <input type="text" class="form-control" id="validationDefault02" name="name" value="" required>
      -->
    </div>
    
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
      <label class="form-check-label" for="invalidCheck2">
        함께 주절주절할 준비 되었주?
      </label>
    </div>
  </div>
  
   <input style="width:160px;height:60px;font-size:1.3em;border-radius:10%" type="submit" value="함께하시주"/>
  </div>
</form>
	</div>
</body>
</html>
